:root {
    --chatBackground: #212525;
    --loginformbackground: rgb(57, 57, 57);
}

.loginform {
    background-color: var(--loginformbackground);
    border-radius: 6px;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

body {
    background-color: var(--chatBackground);
}